{% load static %}

<!DOCTYPE html>
<html>
    <title>Django blog page</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <body>
        <div class="div">
            <header>
                <div class="nav-left">
                    <h1><a href="{% url 'home' %}">Django Blog</a></h1>
                    <div class="inner">
                        <a href="{% url 'post_new' %}">+ New Blog Post</a>
                    </div>
                    
                </div>

                
            </header>

            <div class="auth">
                {% if user.is_authenticated %}
                    <p>Hi {{user.username}} !!</p>
                    <a href="{% url 'logout' %}">Log Out</a>
                {% else %}
                    <p>You are not logged in</p>
                    <a href="{% url 'login' %}">Log In</a>
                {% endif %}
            </div>
        </div>
        

        <div>
            {% block content %}
            {% endblock content %}
        </div>
    
    </body>
</html>
