{% load static %}

<!DOCTYPE html>
<html>
    <title>Django blog page</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <body>
        <div class="div">
            <header>
                <div class="nav-left">
                    <h1><a href="{% url 'home' %}">Django Blog</a></h1>
                    <div class="inner">
                        <a href="{% url 'post_new' %}">+ New Blog Post</a>
                    </div>
                    
                </div>

                
            </header>
        </div>
        

        <div>
            {% block content %}
            {% endblock content %}
        </div>
    
    </body>
</html>
